{% extends "./section.njk" %}

{% block content %}
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        {% for planId, planItem in item.plans %}
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm {% if planItem.card.highlight %}border-primary{% endif %}">
                <div class="card-header py-3 {% if planItem.card.highlight %}text-bg-primary border-primary{% endif %}">
                    <h4 class="my-0 fw-normal">{{ planItem.name }}</h4>
                </div>
                <div class="card-body">
                    <h1 
                        class="card-title pricing-card-title">{{ planItem.price }}<small class="text-body-secondary fw-light">/mo</small>
                    </h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        {% for feature in planItem.features %}
                        <li>{{ feature }}</li>
                        {% endfor %}
                    </ul>
                    <button 
                        type="button" 
                        class="w-100 btn btn-lg {{ planItem.button.class }}">{{ planItem.button.text }}</button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}