{% extends "./partials/base.njk" %}

{% block main %}
<h1>Terms of Use</h1>
<h2>Object and Validity</h2>
<p>Last updated: January 1st, 2020.</p>

<p>The company</p>

<p>***</p>

<p>Email address: [contact@flowm8.app](mailto:contact@flowm8.app)</p>

<p>(hereinafter referred to as “Flowm8”) operates a platform for tracking habits (hereinafter referred to as “Platform”) on the Internet portals http://www.flowm8.app, http://app.flowm8.app, as well as on mobile applications (a.k.a. Apps). In this context, Flowm8 lets you enter the habits you want to form, reminds you to do those habits at the time specified by you, and change their status to “done”, “skipped” or “failed” on any day. Flowm8 will, then, visualize your input data in the form of graphs and charts.</p>

 

<p>The use of the platform (including the apps) shall be subject to the following terms and conditions valid at the time of registration or order. Flowm8 does not acknowledge any different general terms and conditions belonging to you unless Flowm8 agrees to their validity in writing.</p>

<p>No separate contract text is provided for the Agreement pertaining to the use of the platform. The content of the agreement between you and Flowm8 is based on these terms and conditions, as well as on the specific information provided as part of the registration (see Section 4) and by signing up for a paid subscription (Section 5), that will be saved by Flowm8 and that is available in your user account at any time.</p>

<p>You accept the validity and applicability of these terms and conditions by registering and/or purchasing a paid subscription, as the case may be.</p>

<h2>Purchases</h2>
If you wish to purchase any product or service made available through the Service ("Purchase"), you may be asked to supply certain information relevant to your Purchase including, without limitation, your credit card number, the expiration date of your credit card and your Flowm8 address.

You represent and warrant that: (i) you have the legal right to use any credit card(s) or other payment method(s) in connection with any Purchase; and that (ii) the information you supply to us is true, correct and complete.

The service may employ the use of third party services for the purpose of facilitating payment and the completion of Purchases. By submitting your information, you grant us the right to provide the information to these third parties subject to our Privacy Policy.

Availability, Errors and Inaccuracies
We are constantly updating product and service offerings on the Service. We may experience delays in updating information on the Service and in our advertising on other web sites. The information found on the Service may contain errors or inaccuracies and may not be complete or current. Products or services may be mispriced, described inaccurately, or unavailable on the Service and we cannot guarantee the accuracy or completeness of any information found on the Service.

We therefore reserve the right to change or update information and to correct errors, inaccuracies, or omissions at any time without prior notice.

Account Registration
When you create an account with us, you guarantee that you are above the age of 18, and that the information you provide us is accurate, complete, and current at all times. Inaccurate, incomplete, or obsolete information may result in the immediate termination of your account on the Service.

The registration itself is free of charge (free account) and does not make you sign up for a paid subscription. By registering, you are executing an agreement with Flowm8 for an unlimited, free use of the platform.

You are responsible for maintaining the confidentiality of your account and password, including but not limited to the restriction of access to your computer and/or account. You agree to accept responsibility for any and all activities or actions that occur under your account and/or password, whether your password is with our Service or a third-party service. You must notify us immediately upon becoming aware of any breach of security or unauthorized use of your account.

We reserve the right to refuse service, terminate accounts, remove or edit content, or cancel orders in our sole discretion.

Paid subscription
Subscription description
To be able to fully benefit from Flowm8 services, additional service packages in the form of paid subscriptions (“Subscription access”) will be made available to you after registering. These can be purchased for different, and variable periods of time, which you will see in the order options.

Flowm8 subscriptions are paid subscriptions that allow you to access additional content and features through our mobile and web-based applications. All the premium packages offer the same sets of premium features:

-   Unlimited habits
-   Skip habits
-   Archive habits
-   Yearly calendar
-   Export data
-   Privacy lock
-   Habit notes
-   Unlimited reminders

We currently offer the following subscription / service package:
-   The Flowm8 Monthly Premium service package will charge you on a monthly basis
-   The Flowm8 Yearly Premium service package will charge you on a yearly basis
-   The Flowm8 Life-time Premium service package will charge you only once, and you can use Flowm8 Premium without any expiration date after purchasing this package.

You will have access to the respective services as long as your subscription is valid.

Purchase agreement
You submit a legally binding offer for a fee-based subscription, if you enter the information requested in the online order form and then click on the “Purchase” button. By doing so, you submit a legally binding offer for an agreement for a paid subscription. Before submitting your order, you may change and view the data at any time.
The agreement is accepted when Flowm8 issues a notice of acceptance, which will be sent to you immediately by email (receipt and order confirmation). In this email, the text of the agreement (consisting of the order, terms and conditions and order confirmation) will be sent to you by Flowm8 on a permanent data carrier (email) (agreement confirmation). Your subscription begins on this date. The text of the agreement is saved subject to data protection. Please read our Privacy Policy for information on the collection, use and processing of your data.
You can also sign up for a paid subscription through an in-app purchase through our iOS or Android. In order to do this, you must select the desired option on the subscription screen within the app, and a pop-up will appear where you have to enter your iTunes or Google Play password. As soon as you finish, the payment will be made to your account.

Cancellation Policy
If you are a consumer (i.e., a person completing the legal transaction for purposes that can be predominantly attributed to neither their commercial nor their independent professional activity), you are entitled to a legal withdrawal right when executing a distance selling agreement, so in this case when signing an agreement for a fee-based subscription with Flowm8, about which Flowm8 informs below, as per the requirement of the statutory model. Please note that in the case of an in-app purchase, you have the right to withdraw from the respective operator of the app store, i.e., Apple or Google.

‍
Withdrawal Right
‍
You have the right to withdraw from this agreement within 7 days without providing any reasons. The withdrawal period is seven days from the date the agreement was executed.
To exercise your right of withdrawal, you must notify us at  [contact@flowm8.app](mailto:contact@flowm8.app) by submitting a clear explanation (in email) regarding your decision to cancel this agreement.

‍
Cancellation Consequences
‍
If you cancel this Agreement, we must refund all payments we received from you, including delivery charges (except for the additional costs arising from choosing a different delivery method other than the low-priced standard delivery we offer) immediately and at the latest within fourteen days from the date when we received the notification of your cancellation of this Agreement. For this refund we use the same payment method that you used in the original transaction, unless expressly agreed otherwise with you; you will not be charged any fees associated with this refund.

‍
Subscription Cancellation
‍
The free usage agreement starts from the time you register and runs indefinitely. You may cancel the free usage agreement at any time. To this effect, you can delete your account via our web app in the "Settings" menu item.
The paid subscription access (Section 5) will run for at least the term you originally selected and will automatically renew if it is not canceled within 24 hours of the end of that period. The subscription term will be extended according to the subscription model used so far. You can cancel as instructed below:
-   You can cancel paid subscriptions completed via our web app in the "Settings" menu item of the web app. To do this, you must log in, open the settings in the context menu and click on “Cancel subscription”.
-
-   A paid subscription completed in our iOS or can be cancelled in your iTunes or Google Play settings.
-
The subscription access cancellation takes effect on the day following the last day of your current subscription period and you will be downgraded to the free subscription agreement (free account). However, once you renew a subscription again, you will be able to access your old status and reading lists. If you wish to delete your entire account, you can do so from the settings in your account settings (see Section 11). All data will be deleted irrevocably.

The right to blocking and cancellation for an important reason due to a good cause remains unaffected by the preceding provisions.

Copyright Policy
We respect the intellectual property rights of others. It is our policy to respond to any claim that Content posted on the Service infringes on the copyright or other intellectual property rights ("Infringement") of any person or entity.

If you are a copyright owner, or authorized on behalf of one, and you believe that the copyrighted work has been copied in a way that constitutes copyright infringement, please submit your claim via email to contact@flowm8.app with the subject line: "Copyright Infringement" and include in your claim a detailed description of the alleged Infringement as detailed below, under "DMCA Notice and Procedure for Copyright Infringement Claims"

You may be held accountable for damages (including costs and attorneys' fees) for misrepresentation or bad-faith claims on the infringement of any Content found on and/or through the Service on your copyright.

DMCA Notice and Procedure for Copyright Infringement Claims

You may submit a notification pursuant to the Digital Millennium Copyright Act (DMCA) by providing our Copyright Agent with the following information in writing (see 17 U.S.C 512(c)(3) for further detail):

an electronic or physical signature of the person authorized to act on behalf of the owner of the copyright's interest;
a description of the copyrighted work that you claim has been infringed, including the URL (i.e., web page address) of the location where the copyrighted work exists or a copy of the copyrighted work;
identification of the URL or other specific location on the Service where the material that you claim is infringing is located;
your address, telephone number, and email address;
a statement by you that you have a good faith belief that the disputed use is not authorized by the copyright owner, its agent, or the law;
a statement by you, made under penalty of perjury, that the above information in your notice is accurate and that you are the copyright owner or authorized to act on the copyright owner's behalf.
You can contact our Copyright Agent via email at contact@flowm8.app

Intellectual Property
The Service and its original content, features and functionality are and will remain the exclusive property of Flowm8 and its licensors. The Service is protected by copyright, trademark, and other laws of both the United States and foreign countries. Our trademarks and trade dress may not be used in connection with any product or service without the prior written consent of Flowm8.

Links To Other Web Sites
Our Service may contain links to third party web sites or services that are not owned or controlled by Flowm8.

Flowm8 has no control over, and assumes no responsibility for the content, privacy policies, or practices of any third party web sites or services. We do not warrant the offerings of any of these entities/individuals or their websites.

You acknowledge and agree that Flowm8 shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any such content, goods or services available on or through any such third party web sites or services.

We strongly advise you to read the terms and conditions and privacy policies of any third party web sites or services that you visit.

Account Termination
We may terminate or suspend your account and bar access to the Service immediately, without prior notice or liability, under our sole discretion, for any reason whatsoever and without limitation, including but not limited to a breach of the Terms.

If you wish to terminate your account, you can go to your account setting and select the according option.

All provisions of the Terms which by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.

Indemnification
You agree to defend, indemnify and hold harmless Flowm8 and its licensee and licensors, and their employees, contractors, agents, officers and directors, from and against any and all claims, damages, obligations, losses, liabilities, costs or debt, and expenses (including but not limited to attorney's fees), resulting from or arising out of a) your use and access of the Service, by you or any person using your account and password, or b) a breach of these Terms.

Limitation Of Liability
In no event shall Flowm8, nor its directors, employees, partners, agents, suppliers, or affiliates, be liable for any indirect, special, consequential or punitive damages, including without limitation, loss of profits, data, use, goodwill, or other intangible losses, resulting from (i) your access to or use of or inability to access or use the Service; (ii) any conduct or content of any third party on the Service; (iii) any content obtained from the Service; and (iv) unauthorized access, use or alteration of your transmissions or content, whether based on warranty, contract, tort (including negligence) or any other legal theory, whether or not we have been informed of the possibility of such damage, and even if a remedy set forth herein is found to have failed of its essential purpose.

Disclaimer
Your use of the Service is at your sole risk. The Service is provided on an "AS IS" and "AS AVAILABLE" basis. The Service is provided without warranties of any kind, whether express or implied, including, but not limited to, implied warranties of merchantability, fitness for a particular purpose, non-infringement or course of performance.

Flowm8 and its subsidiaries, affiliates, and its licensors do not warrant that a) the Service will function uninterrupted, secure or available at any particular time or location; b) any errors or defects will be corrected; c) the Service is free of viruses or other harmful components; or d) the results of using the Service will meet your requirements.

Exclusions
Some jurisdictions do not allow the exclusion of certain warranties or the exclusion or limitation of liability for consequential or Flowm8 damages, so the limitations above may not apply to you.

Governing Law
These Terms shall be governed and construed in accordance with the laws of California, United States, without regard to its conflict of law provisions.

Our failure to enforce any right or provision of these Terms will not be considered a waiver of those rights. If any provision of these Terms is held to be invalid or unenforceable by a court, the remaining provisions of these Terms will remain in effect. These Terms constitute the entire agreement between us regarding our Service, and supersede and replace any prior agreements we might have had between us regarding the Service.

Changes
We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a revision is material we will provide at least 30 days’ notice prior to any new terms taking effect. What constitutes a material change will be determined at our sole discretion.

When our Terms of Use changes, we will notify you via your email or any contact information you voluntarily provided us.

By continuing to access or use our Service after any revisions become effective, you agree to be bound by the revised terms. If you do not agree to the new terms, you are no longer authorized to use the Service.

Contact Us
If you have any questions about these Terms, please contact us by sending an email to contact@flowm8.app
{% endblock %}